/* Общие стили секций */
.section {
  padding: 4rem 0;
  animation: fadeIn 1s ease;
}

.section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.section h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #ff69b4;
  margin: 1rem auto 0;
  border-radius: 2px;
}

@media screen and (width >= 768px) {
  .view {
    width: 50%;
    margin: 0 auto;
  }
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
}

/* Секция "О нас" */
.about {
  background: #fff;
  text-align: center;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Секция "Продукция" */
/* .products {
  background: #f9f9f9;
} */

.productList {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.productItem {
  text-align: center;
  width: 300px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productItem img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.productItem h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.productItem p {
  font-size: 0.9rem;
  color: #666;
}

.productItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Секция "Контакты" */
.contact {
  background: #fff;
  text-align: center;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contact p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

/* Футер */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
}

/* Анимация */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
